assets/includes/articles/_articles-main.jade
include ../../blocks/card/_card.jade
include ../../blocks/heading/_heading.jade
.articles-main.column.medium-8.large-9
	h4.articles-heading Голландия
	#map-holland.map-block
	p
		| Главой государства является королева Беатрикс (династия Оранских – Нассау), вступившая на престол 30 апреля 1980.
	p
		|Хотя в Голландии власть монарха ограничена и он должен совещаться с правительством, все же его мнение играет решающую роль при назначении премьер-министра. Все политические акты совершаются от имени королевы.
	p
		|Исполнительная власть осуществляется королевой и правительством.
	p
		|Нидерланды расположены в Западной Европе.
	p
		|Они граничат: на востоке с Германией; на юге – с Бельгией; северные и западные берега омываются Северным морем.
	p
		|Часто страну называют Голландией по названию самой богатой и влиятельной из семи провинций, первоначально входивших в Республику Соединенных провинций Нидерландов в 16 веке. Голландия всегда старалась оставаться самостоятельной и независимой страной.
	p
		|В состав Королевства Нидерландов, помимо основной территории в Европе, входят: Нидерландские Антильские острова; остров Аруба в Вест-Индии;
	+heading("СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ")
	.offer-wrap
		.offer
			+card("img/amsterdam.jpg","Сказочный Амстердам", "56 220 руб.", "52 200 руб.", "#", "Сказочный Амстердам")(class="card__offers")
		.offer
			+card("img/belgia.jpg","Романтичная Бельгия","64 950 руб.", "58 950 руб.", "#", "Романтичная Бельгия")(class="card__offers")
		.offer
			+card("img/amsterdam.jpg","Офигительный Бенилюкс", "19 925 руб.", "17 925 руб.", "#", "Офигительный Бенилюкс")(class="card__offers")
		.offer
			+card("img/amsterdam.jpg","Сказочный Амстердам", "56 220 руб.", "52 200 руб.", "#", "Сказочный Амстердам")(class="card__offers")
	.articles-info
		dl
			dt Общая площадь: 
			dd 41 528 кв.км;
		dl
			dt Площадь суши:
			dd 33 783 кв.км;
		dl
			dt Площадь рек и озер:
			dd 7 745 кв.км;
		dl
			dt Площадь сухопутных границы:
			dd Бельгия-450 км; Германия-577 км;
		dl
			dt Столица: 
			dd Амстердам;
		dl
			dt Население: 
			dd 15,8 млн.чел;
		dl
			dt Язык:
			dd голландский-(нидерландский);второй язык-фризский; английский-знает почти все население страны; также в ходу французский и немецкий языки;
		dl
			dt Время:
			dd отстает от московского на 2 часа;
		dl
			dt Валюта:
			dd
				| 1 Euro=100 центов; 
				br
				|Банкноты: 500, 200, 100, 50, 20, 10 и 5 евро; 
				br
				| Монеты: 2 и 1 евро; 50, 20, 10, 5, 2 и 1 евро-центов;
		dl
			dt Напряжение в сети:
			dd 220 вольт;
		dl
			dt Кредитные карточки:
			dd American Express; Diners Club; Eurocard; Mastercard; Access Card; Visa Card
	.articles-pager.text-right
		a(href="#").prev
			| Туризм в Амстердаме
		a(href="#").next
			| Туры в Амстердам на майские праздники

public/includes/articles/_articles-main.html

<div class="articles-main column medium-8 large-9">
  <h4 class="articles-heading">Голландия</h4>
  <div id="map-holland" class="map-block"></div>
  <p>Главой государства является королева Беатрикс (династия Оранских – Нассау), вступившая на престол 30 апреля 1980.</p>
  <p>Хотя в Голландии власть монарха ограничена и он должен совещаться с правительством, все же его мнение играет решающую роль при назначении премьер-министра. Все политические акты совершаются от имени королевы.</p>
  <p>Исполнительная власть осуществляется королевой и правительством.</p>
  <p>Нидерланды расположены в Западной Европе.</p>
  <p>Они граничат: на востоке с Германией; на юге – с Бельгией; северные и западные берега омываются Северным морем.</p>
  <p>Часто страну называют Голландией по названию самой богатой и влиятельной из семи провинций, первоначально входивших в Республику Соединенных провинций Нидерландов в 16 веке. Голландия всегда старалась оставаться самостоятельной и независимой страной.</p>
  <p>В состав Королевства Нидерландов, помимо основной территории в Европе, входят: Нидерландские Антильские острова; остров Аруба в Вест-Индии;</p>
  <div class="heading-wrap text-center">
    <div class="heading-line">
      <hr/>
    </div>
    <div class="heading-title">
      <h4>СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ</h4>
    </div>
  </div>
  <div class="offer-wrap">
    <div class="offer">
      <div class="card clearfix card__offers"><a href="#" class="card-link"><img src="img/amsterdam.jpg" class="card-image"/>
          <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">Сказочный Амстердам</span>
            <div class="prices right">
              <div class="price-old">56 220 руб.</div>
              <div class="price-new">52 200 руб.</div>
            </div>
          </div></a></div>
    </div>
    <div class="offer">
      <div class="card clearfix card__offers"><a href="#" class="card-link"><img src="img/belgia.jpg" class="card-image"/>
          <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Романтичная Бельгия" class="tip-top radius title-icon"/><span class="title">Романтичная Бельгия</span>
            <div class="prices right">
              <div class="price-old">64 950 руб.</div>
              <div class="price-new">58 950 руб.</div>
            </div>
          </div></a></div>
    </div>
    <div class="offer">
      <div class="card clearfix card__offers"><a href="#" class="card-link"><img src="img/amsterdam.jpg" class="card-image"/>
          <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Офигительный Бенилюкс" class="tip-top radius title-icon"/><span class="title">Офигительный Бенилюкс</span>
            <div class="prices right">
              <div class="price-old">19 925 руб.</div>
              <div class="price-new">17 925 руб.</div>
            </div>
          </div></a></div>
    </div>
    <div class="offer">
      <div class="card clearfix card__offers"><a href="#" class="card-link"><img src="img/amsterdam.jpg" class="card-image"/>
          <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">Сказочный Амстердам</span>
            <div class="prices right">
              <div class="price-old">56 220 руб.</div>
              <div class="price-new">52 200 руб.</div>
            </div>
          </div></a></div>
    </div>
  </div>
  <div class="articles-info">
    <dl>
      <dt>Общая площадь: </dt>
      <dd>41 528 кв.км;</dd>
    </dl>
    <dl>
      <dt>Площадь суши:</dt>
      <dd>33 783 кв.км;</dd>
    </dl>
    <dl>
      <dt>Площадь рек и озер:</dt>
      <dd>7 745 кв.км;</dd>
    </dl>
    <dl>
      <dt>Площадь сухопутных границы:</dt>
      <dd>Бельгия-450 км; Германия-577 км;</dd>
    </dl>
    <dl>
      <dt>Столица: </dt>
      <dd>Амстердам;</dd>
    </dl>
    <dl>
      <dt>Население: </dt>
      <dd>15,8 млн.чел;</dd>
    </dl>
    <dl>
      <dt>Язык:</dt>
      <dd>голландский-(нидерландский);второй язык-фризский; английский-знает почти все население страны; также в ходу французский и немецкий языки;</dd>
    </dl>
    <dl>
      <dt>Время:</dt>
      <dd>отстает от московского на 2 часа;</dd>
    </dl>
    <dl>
      <dt>Валюта:</dt>
      <dd>1 Euro=100 центов; <br/>Банкноты: 500, 200, 100, 50, 20, 10 и 5 евро; <br/>Монеты: 2 и 1 евро; 50, 20, 10, 5, 2 и 1 евро-центов;</dd>
    </dl>
    <dl>
      <dt>Напряжение в сети:</dt>
      <dd>220 вольт;</dd>
    </dl>
    <dl>
      <dt>Кредитные карточки:</dt>
      <dd>American Express; Diners Club; Eurocard; Mastercard; Access Card; Visa Card</dd>
    </dl>
  </div>
  <div class="articles-pager text-right"><a href="#" class="prev">Туризм в Амстердаме</a><a href="#" class="next">Туры в Амстердам на майские праздники</a></div>
</div>
