public/includes/articles/_aside.html

<div class="aside column medium-4 large-3">
  <ul class="aside-menu">
    <li><a href="#" class="aside-link"><img src="img/flags/netherlands.png" class="img-flag"/>Голландия</a>
      <ul class="second-line">
        <li><a href="#" class="second-line-link active">Экскурсии</a>
          <ul class="third-line">
            <li><a href="#">1 Item</a></li>
            <li><a href="#">2 Item</a></li>
          </ul>
        </li>
        <li><a href="#">Полезная информация</a></li>
        <li><a href="#">Ярмарки и выставки</a></li>
        <li><a href="#">Парки развлечений</a></li>
        <li><a href="#">Достопримечательности</a></li>
        <li><a href="#">Национальная кухня</a></li>
        <li><a href="#">Национальные праздники</a></li>
        <li><a href="#">Природа и окружающая среда</a></li>
        <li><a href="#">Туры в Амстердам</a></li>
        <li><a href="#">Туризм в Амстердаме</a></li>
        <li><a href="#">Погода в Амстердаме</a></li>
        <li><a href="#">Туры в Амстердам на майские праздники</a></li>
        <li><a href="#">Викенд в Амстердаме</a></li>
        <li><a href="#">Туры в Нидерланды</a></li>
        <li><a href="#">Туры по Голландии</a></li>
        <li><a href="#">Экскурсии а Амстердаме</a></li>
        <li><a href="#">Экскурсионные туры в Голландии</a></li>
        <li><a href="#">Экскурсии в Голландии</a></li>
        <li><a href="#">Экскурсии в Нидерландах</a></li>
        <li><a href="#">Достопримечательности Голландии</a></li>
        <li><a href="#">Площадь Голландии</a></li>
        <li><a href="#">Природа Голландии</a></li>
        <li><a href="#">Все о Голландии</a></li>
        <li><a href="#">Курорты Северного моря</a></li>
      </ul>
    </li>
    <li><a href="#" class="aside-link"><img src="img/flags/germany.png" class="img-flag"/>Германия</a>
      <ul class="second-line">
        <li><a href="#" class="second-line-link active">Экскурсии</a></li>
        <li><a href="#">Полезная информация</a></li>
        <li><a href="#">Ярмарки и выставки</a></li>
      </ul>
    </li>
    <li><a href="#" class="aside-link"><img src="img/flags/belgium.png" class="img-flag"/>Бельгия</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/italy.png" class="img-flag"/>Италия</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/switzerland.png" class="img-flag"/>Швейцария</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/hungary.png" class="img-flag"/>Венгрия</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/austria.png" class="img-flag"/>Австрия</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/slovenia.png" class="img-flag"/>Словения</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/france.png" class="img-flag"/>Франция</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/spain.png" class="img-flag"/>Испания</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/czech-republic.png" class="img-flag"/>Чехия</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/luxembourg.png" class="img-flag"/>Люксембург</a></li>
  </ul>
</div>

assets/includes/articles/_aside.jade
.aside.column.medium-4.large-3
	ul.aside-menu
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/netherlands.png")
				| Голландия
			ul.second-line
				li
					a.second-line-link.active(href="#") Экскурсии
					ul.third-line
						li
							a(href="#") 1 Item
						li
							a(href="#") 2 Item
				li
					a(href="#") Полезная информация
				li
					a(href="#") Ярмарки и выставки
				li
					a(href="#") Парки развлечений
				li
					a(href="#") Достопримечательности
				li
					a(href="#") Национальная кухня
				li
					a(href="#") Национальные праздники
				li
					a(href="#") Природа и окружающая среда
				li
					a(href="#") Туры в Амстердам
				li
					a(href="#") Туризм в Амстердаме
				li
					a(href="#") Погода в Амстердаме
				li
					a(href="#") Туры в Амстердам на майские праздники
				li
					a(href="#") Викенд в Амстердаме
				li
					a(href="#") Туры в Нидерланды
				li
					a(href="#") Туры по Голландии
				li
					a(href="#") Экскурсии а Амстердаме
				li
					a(href="#") Экскурсионные туры в Голландии
				li
					a(href="#") Экскурсии в Голландии
				li
					a(href="#") Экскурсии в Нидерландах
				li
					a(href="#") Достопримечательности Голландии
				li
					a(href="#") Площадь Голландии
				li
					a(href="#") Природа Голландии
				li
					a(href="#") Все о Голландии
				li
					a(href="#") Курорты Северного моря
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/germany.png")
				| Германия
			ul.second-line
				li
					a.second-line-link.active(href="#") Экскурсии
				li
					a(href="#") Полезная информация
				li
					a(href="#") Ярмарки и выставки
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/belgium.png")
				| Бельгия
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/italy.png")
				| Италия
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/switzerland.png")
				| Швейцария
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/hungary.png")
				| Венгрия
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/austria.png")
				| Австрия
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/slovenia.png")
				| Словения
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/france.png")
				| Франция
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/spain.png")
				| Испания
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/czech-republic.png")
				| Чехия
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/luxembourg.png")
				| Люксембург
