assets/includes/excursions/_tour-gallery.jade
include ../../blocks/heading/_heading.jade
#tour-gallery.tour-gallery
	.wrap
		.container
			+heading("Фотогалерея")
			.flex
				img(src="img/photo-1.jpg")
				img(src="img/photo-2.jpg")
				img(src="img/photo-3.jpg")
				img(src="img/photo-4.jpg")
				img(src="img/photo-5.jpg")
				img(src="img/photo-6.jpg")

public/includes/excursions/_tour-gallery.html

<div id="tour-gallery" class="tour-gallery">
  <div class="wrap">
    <div class="container">
      <div class="heading-wrap text-center">
        <div class="heading-line">
          <hr/>
        </div>
        <div class="heading-title">
          <h4>Фотогалерея</h4>
        </div>
      </div>
      <div class="flex"><img src="img/photo-1.jpg"/><img src="img/photo-2.jpg"/><img src="img/photo-3.jpg"/><img src="img/photo-4.jpg"/><img src="img/photo-5.jpg"/><img src="img/photo-6.jpg"/></div>
    </div>
  </div>
</div>
