assets/includes/excursions/_tour-hotels.jade
include ../../blocks/heading/_heading.jade
#tour-hotels.tour-hotels
	.container
		+heading("Гостиницы")
		ul.accordion.accordion-outer(role="tablist" data-accordion)
			li.accordion-navigation.accordion-navigation-outer
				a(href="#panel-1" role="tab" aria-controls="panel-1") ОТЕЛИ 4*
				#panel-1.content.content-outer(role="tabpanel")
					ul.accordion.accordion-inner(role="tablist" data-accordion)
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-5" role="tab" aria-controls="hotel-5") Lindner Hotel City Plaza 4*
							span (Кельн)
							#hotel-5.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-5-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-5-2") Фотогалерея
									li.tab-title: a(href="#tab-5-3") Номера
									li.tab-title: a(href="#tab-5-4") Услуги
									li.tab-title: a(href="#tab-5-5") Питание
									li.tab-title: a(href="#tab-5-6") Отдых и развлечения
									li.tab-title: a(href="#tab-5-7") Карта
								.tabs-content
									.content.active#tab-5-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-5-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-5-3
									.content#tab-5-4
									.content#tab-5-5
									.content#tab-5-6
									.content#tab-5-7
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-6" role="tab" aria-controls="hotel-6") Estherea 3*
							span (Амстердам)
							#hotel-6.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-6-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-6-2") Фотогалерея
									li.tab-title: a(href="#tab-6-3") Номера
									li.tab-title: a(href="#tab-6-4") Услуги
									li.tab-title: a(href="#tab-6-5") Питание
									li.tab-title: a(href="#tab-6-6") Отдых и развлечения
									li.tab-title: a(href="#tab-6-7") Карта
								.tabs-content
									.content.active#tab-6-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-6-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-6-3
									.content#tab-6-4
									.content#tab-6-5
									.content#tab-6-6
									.content#tab-6-7
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-3" role="tab" aria-controls="hotel-3") Academie 4*
							span (Брюгге)
							#hotel-3.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-3-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-3-2") Фотогалерея
									li.tab-title: a(href="#tab-3-3") Номера
									li.tab-title: a(href="#tab-3-4") Услуги
									li.tab-title: a(href="#tab-3-5") Питание
									li.tab-title: a(href="#tab-3-6") Отдых и развлечения
									li.tab-title: a(href="#tab-3-7") Карта
								.tabs-content
									.content.active#tab-3-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-3-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-3-3
									.content#tab-3-4
									.content#tab-3-5
									.content#tab-3-6
									.content#tab-3-7
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-4" role="tab" aria-controls="hotel-4") Hilton Brussels City 4*
							span (Брюссель)
							#hotel-4.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-4-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-4-2") Фотогалерея
									li.tab-title: a(href="#tab-4-3") Номера
									li.tab-title: a(href="#tab-4-4") Услуги
									li.tab-title: a(href="#tab-4-5") Питание
									li.tab-title: a(href="#tab-4-6") Отдых и развлечения
									li.tab-title: a(href="#tab-4-7") Карта
								.tabs-content
									.content.active#tab-4-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-4-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-4-3
									.content#tab-4-4
									.content#tab-4-5
									.content#tab-4-6
									.content#tab-4-7
			li.accordion-navigation.accordion-navigation-outer
				a(href="#panel-2" role="tab" aria-controls="panel-2") ОТЕЛИ 3-4*
				#panel-2.content.content-outer(role="tabpanel")
					ul.accordion.accordion-inner(role="tablist" data-accordion)
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-1" role="tab" aria-controls="hotel-1") Lindner Hotel City Plaza 4*
							span (Кельн)
							#hotel-1.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-1-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-1-2") Фотогалерея
									li.tab-title: a(href="#tab-1-3") Номера
									li.tab-title: a(href="#tab-1-4") Услуги
									li.tab-title: a(href="#tab-1-5") Питание
									li.tab-title: a(href="#tab-1-6") Отдых и развлечения
									li.tab-title: a(href="#tab-1-7") Карта
								.tabs-content
									.content.active#tab-1-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-1-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-1-3
									.content#tab-1-4
									.content#tab-1-5
									.content#tab-1-6
									.content#tab-1-7
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-2" role="tab" aria-controls="hotel-2") Estherea 3*
							span (Амстердам)
							#hotel-2.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-2-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-2-2") Фотогалерея
									li.tab-title: a(href="#tab-2-3") Номера
									li.tab-title: a(href="#tab-2-4") Услуги
									li.tab-title: a(href="#tab-2-5") Питание
									li.tab-title: a(href="#tab-2-6") Отдых и развлечения
									li.tab-title: a(href="#tab-2-7") Карта
								.tabs-content
									.content.active#tab-2-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-2-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-2-3
									.content#tab-2-4
									.content#tab-2-5
									.content#tab-2-6
									.content#tab-2-7
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-7" role="tab" aria-controls="hotel-7") Academie 4*
							span (Брюгге)
							#hotel-7.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-7-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-7-2") Фотогалерея
									li.tab-title: a(href="#tab-7-3") Номера
									li.tab-title: a(href="#tab-7-4") Услуги
									li.tab-title: a(href="#tab-7-5") Питание
									li.tab-title: a(href="#tab-7-6") Отдых и развлечения
									li.tab-title: a(href="#tab-7-7") Карта
								.tabs-content
									.content.active#tab-7-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-7-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-7-3
									.content#tab-7-4
									.content#tab-7-5
									.content#tab-7-6
									.content#tab-7-7
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-8" role="tab" aria-controls="hotel-8") Hilton Brussels City 4*
							span (Брюссель)
							#hotel-8.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-8-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-8-2") Фотогалерея
									li.tab-title: a(href="#tab-8-3") Номера
									li.tab-title: a(href="#tab-8-4") Услуги
									li.tab-title: a(href="#tab-8-5") Питание
									li.tab-title: a(href="#tab-8-6") Отдых и развлечения
									li.tab-title: a(href="#tab-8-7") Карта
								.tabs-content
									.content.active#tab-8-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-8-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-8-3
									.content#tab-8-4
									.content#tab-8-5
									.content#tab-8-6
									.content#tab-8-7

public/includes/excursions/_tour-hotels.html

<div id="tour-hotels" class="tour-hotels">
  <div class="container">
    <div class="heading-wrap text-center">
      <div class="heading-line">
        <hr/>
      </div>
      <div class="heading-title">
        <h4>Гостиницы</h4>
      </div>
    </div>
    <ul role="tablist" data-accordion="data-accordion" class="accordion accordion-outer">
      <li class="accordion-navigation accordion-navigation-outer"><a href="#panel-1" role="tab" aria-controls="panel-1">ОТЕЛИ 4*</a>
        <div id="panel-1" role="tabpanel" class="content content-outer">
          <ul role="tablist" data-accordion="data-accordion" class="accordion accordion-inner">
            <li class="accordion-navigation accordion-navigation-inner"><a href="#hotel-5" role="tab" aria-controls="hotel-5">Lindner Hotel City Plaza 4*</a><span>(Кельн)</span>
              <div id="hotel-5" role="tabpanel" class="content content-inner">
                <div class="hotel-info">
                  <div class="img-wrap"><img src="img/hotel-1.jpg"/></div>
                  <div class="info-wrap">
                    <p>Lindner Hotel City Plaza 4*<br/>Magnusstr. 20,50672 Кельн</p>
                    <p>Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.</p>
                  </div>
                </div>
                <ul data-tab="data-tab" class="tabs">
                  <li class="tab-title active"><a href="#tab-5-1">ОПИСАНИЕ</a></li>
                  <li class="tab-title"><a href="#tab-5-2">Фотогалерея</a></li>
                  <li class="tab-title"><a href="#tab-5-3">Номера</a></li>
                  <li class="tab-title"><a href="#tab-5-4">Услуги</a></li>
                  <li class="tab-title"><a href="#tab-5-5">Питание</a></li>
                  <li class="tab-title"><a href="#tab-5-6">Отдых и развлечения</a></li>
                  <li class="tab-title"><a href="#tab-5-7">Карта</a></li>
                </ul>
                <div class="tabs-content">
                  <div id="tab-5-1" class="content active">
                    <p>Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера</p>
                    <dl>
                      <dt>Сервис:</dt>
                      <dd>Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа</dd>
                    </dl>
                    <dl>
                      <dt>Интернет:</dt>
                      <dd>Wi-Fi предоставляется в номерах отеля за дополнительную плату.<br/></dd>
                    </dl>
                    <dl>
                      <dt>Услуги по парковке машин:</dt>
                      <dd>Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.</dd>
                    </dl>
                  </div>
                  <div id="tab-5-2" class="content">
                    <div class="flex"><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/></div>
                  </div>
                  <div id="tab-5-3" class="content"></div>
                  <div id="tab-5-4" class="content"></div>
                  <div id="tab-5-5" class="content"></div>
                  <div id="tab-5-6" class="content"></div>
                  <div id="tab-5-7" class="content"></div>
                </div>
              </div>
            </li>
            <li class="accordion-navigation accordion-navigation-inner"><a href="#hotel-6" role="tab" aria-controls="hotel-6">Estherea 3*</a><span>(Амстердам)</span>
              <div id="hotel-6" role="tabpanel" class="content content-inner">
                <div class="hotel-info">
                  <div class="img-wrap"><img src="img/hotel-1.jpg"/></div>
                  <div class="info-wrap">
                    <p>Lindner Hotel City Plaza 4*<br/>Magnusstr. 20,50672 Кельн</p>
                    <p>Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.</p>
                  </div>
                </div>
                <ul data-tab="data-tab" class="tabs">
                  <li class="tab-title active"><a href="#tab-6-1">ОПИСАНИЕ</a></li>
                  <li class="tab-title"><a href="#tab-6-2">Фотогалерея</a></li>
                  <li class="tab-title"><a href="#tab-6-3">Номера</a></li>
                  <li class="tab-title"><a href="#tab-6-4">Услуги</a></li>
                  <li class="tab-title"><a href="#tab-6-5">Питание</a></li>
                  <li class="tab-title"><a href="#tab-6-6">Отдых и развлечения</a></li>
                  <li class="tab-title"><a href="#tab-6-7">Карта</a></li>
                </ul>
                <div class="tabs-content">
                  <div id="tab-6-1" class="content active">
                    <p>Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера</p>
                    <dl>
                      <dt>Сервис:</dt>
                      <dd>Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа</dd>
                    </dl>
                    <dl>
                      <dt>Интернет:</dt>
                      <dd>Wi-Fi предоставляется в номерах отеля за дополнительную плату.<br/></dd>
                    </dl>
                    <dl>
                      <dt>Услуги по парковке машин:</dt>
                      <dd>Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.</dd>
                    </dl>
                  </div>
                  <div id="tab-6-2" class="content">
                    <div class="flex"><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/></div>
                  </div>
                  <div id="tab-6-3" class="content"></div>
                  <div id="tab-6-4" class="content"></div>
                  <div id="tab-6-5" class="content"></div>
                  <div id="tab-6-6" class="content"></div>
                  <div id="tab-6-7" class="content"></div>
                </div>
              </div>
            </li>
            <li class="accordion-navigation accordion-navigation-inner"><a href="#hotel-3" role="tab" aria-controls="hotel-3">Academie 4*</a><span>(Брюгге)</span>
              <div id="hotel-3" role="tabpanel" class="content content-inner">
                <div class="hotel-info">
                  <div class="img-wrap"><img src="img/hotel-1.jpg"/></div>
                  <div class="info-wrap">
                    <p>Lindner Hotel City Plaza 4*<br/>Magnusstr. 20,50672 Кельн</p>
                    <p>Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.</p>
                  </div>
                </div>
                <ul data-tab="data-tab" class="tabs">
                  <li class="tab-title active"><a href="#tab-3-1">ОПИСАНИЕ</a></li>
                  <li class="tab-title"><a href="#tab-3-2">Фотогалерея</a></li>
                  <li class="tab-title"><a href="#tab-3-3">Номера</a></li>
                  <li class="tab-title"><a href="#tab-3-4">Услуги</a></li>
                  <li class="tab-title"><a href="#tab-3-5">Питание</a></li>
                  <li class="tab-title"><a href="#tab-3-6">Отдых и развлечения</a></li>
                  <li class="tab-title"><a href="#tab-3-7">Карта</a></li>
                </ul>
                <div class="tabs-content">
                  <div id="tab-3-1" class="content active">
                    <p>Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера</p>
                    <dl>
                      <dt>Сервис:</dt>
                      <dd>Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа</dd>
                    </dl>
                    <dl>
                      <dt>Интернет:</dt>
                      <dd>Wi-Fi предоставляется в номерах отеля за дополнительную плату.<br/></dd>
                    </dl>
                    <dl>
                      <dt>Услуги по парковке машин:</dt>
                      <dd>Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.</dd>
                    </dl>
                  </div>
                  <div id="tab-3-2" class="content">
                    <div class="flex"><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/></div>
                  </div>
                  <div id="tab-3-3" class="content"></div>
                  <div id="tab-3-4" class="content"></div>
                  <div id="tab-3-5" class="content"></div>
                  <div id="tab-3-6" class="content"></div>
                  <div id="tab-3-7" class="content"></div>
                </div>
              </div>
            </li>
            <li class="accordion-navigation accordion-navigation-inner"><a href="#hotel-4" role="tab" aria-controls="hotel-4">Hilton Brussels City 4*</a><span>(Брюссель)</span>
              <div id="hotel-4" role="tabpanel" class="content content-inner">
                <div class="hotel-info">
                  <div class="img-wrap"><img src="img/hotel-1.jpg"/></div>
                  <div class="info-wrap">
                    <p>Lindner Hotel City Plaza 4*<br/>Magnusstr. 20,50672 Кельн</p>
                    <p>Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.</p>
                  </div>
                </div>
                <ul data-tab="data-tab" class="tabs">
                  <li class="tab-title active"><a href="#tab-4-1">ОПИСАНИЕ</a></li>
                  <li class="tab-title"><a href="#tab-4-2">Фотогалерея</a></li>
                  <li class="tab-title"><a href="#tab-4-3">Номера</a></li>
                  <li class="tab-title"><a href="#tab-4-4">Услуги</a></li>
                  <li class="tab-title"><a href="#tab-4-5">Питание</a></li>
                  <li class="tab-title"><a href="#tab-4-6">Отдых и развлечения</a></li>
                  <li class="tab-title"><a href="#tab-4-7">Карта</a></li>
                </ul>
                <div class="tabs-content">
                  <div id="tab-4-1" class="content active">
                    <p>Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера</p>
                    <dl>
                      <dt>Сервис:</dt>
                      <dd>Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа</dd>
                    </dl>
                    <dl>
                      <dt>Интернет:</dt>
                      <dd>Wi-Fi предоставляется в номерах отеля за дополнительную плату.<br/></dd>
                    </dl>
                    <dl>
                      <dt>Услуги по парковке машин:</dt>
                      <dd>Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.</dd>
                    </dl>
                  </div>
                  <div id="tab-4-2" class="content">
                    <div class="flex"><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/></div>
                  </div>
                  <div id="tab-4-3" class="content"></div>
                  <div id="tab-4-4" class="content"></div>
                  <div id="tab-4-5" class="content"></div>
                  <div id="tab-4-6" class="content"></div>
                  <div id="tab-4-7" class="content"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="accordion-navigation accordion-navigation-outer"><a href="#panel-2" role="tab" aria-controls="panel-2">ОТЕЛИ 3-4*</a>
        <div id="panel-2" role="tabpanel" class="content content-outer">
          <ul role="tablist" data-accordion="data-accordion" class="accordion accordion-inner">
            <li class="accordion-navigation accordion-navigation-inner"><a href="#hotel-1" role="tab" aria-controls="hotel-1">Lindner Hotel City Plaza 4*</a><span>(Кельн)</span>
              <div id="hotel-1" role="tabpanel" class="content content-inner">
                <div class="hotel-info">
                  <div class="img-wrap"><img src="img/hotel-1.jpg"/></div>
                  <div class="info-wrap">
                    <p>Lindner Hotel City Plaza 4*<br/>Magnusstr. 20,50672 Кельн</p>
                    <p>Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.</p>
                  </div>
                </div>
                <ul data-tab="data-tab" class="tabs">
                  <li class="tab-title active"><a href="#tab-1-1">ОПИСАНИЕ</a></li>
                  <li class="tab-title"><a href="#tab-1-2">Фотогалерея</a></li>
                  <li class="tab-title"><a href="#tab-1-3">Номера</a></li>
                  <li class="tab-title"><a href="#tab-1-4">Услуги</a></li>
                  <li class="tab-title"><a href="#tab-1-5">Питание</a></li>
                  <li class="tab-title"><a href="#tab-1-6">Отдых и развлечения</a></li>
                  <li class="tab-title"><a href="#tab-1-7">Карта</a></li>
                </ul>
                <div class="tabs-content">
                  <div id="tab-1-1" class="content active">
                    <p>Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера</p>
                    <dl>
                      <dt>Сервис:</dt>
                      <dd>Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа</dd>
                    </dl>
                    <dl>
                      <dt>Интернет:</dt>
                      <dd>Wi-Fi предоставляется в номерах отеля за дополнительную плату.<br/></dd>
                    </dl>
                    <dl>
                      <dt>Услуги по парковке машин:</dt>
                      <dd>Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.</dd>
                    </dl>
                  </div>
                  <div id="tab-1-2" class="content">
                    <div class="flex"><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/></div>
                  </div>
                  <div id="tab-1-3" class="content"></div>
                  <div id="tab-1-4" class="content"></div>
                  <div id="tab-1-5" class="content"></div>
                  <div id="tab-1-6" class="content"></div>
                  <div id="tab-1-7" class="content"></div>
                </div>
              </div>
            </li>
            <li class="accordion-navigation accordion-navigation-inner"><a href="#hotel-2" role="tab" aria-controls="hotel-2">Estherea 3*</a><span>(Амстердам)</span>
              <div id="hotel-2" role="tabpanel" class="content content-inner">
                <div class="hotel-info">
                  <div class="img-wrap"><img src="img/hotel-1.jpg"/></div>
                  <div class="info-wrap">
                    <p>Lindner Hotel City Plaza 4*<br/>Magnusstr. 20,50672 Кельн</p>
                    <p>Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.</p>
                  </div>
                </div>
                <ul data-tab="data-tab" class="tabs">
                  <li class="tab-title active"><a href="#tab-2-1">ОПИСАНИЕ</a></li>
                  <li class="tab-title"><a href="#tab-2-2">Фотогалерея</a></li>
                  <li class="tab-title"><a href="#tab-2-3">Номера</a></li>
                  <li class="tab-title"><a href="#tab-2-4">Услуги</a></li>
                  <li class="tab-title"><a href="#tab-2-5">Питание</a></li>
                  <li class="tab-title"><a href="#tab-2-6">Отдых и развлечения</a></li>
                  <li class="tab-title"><a href="#tab-2-7">Карта</a></li>
                </ul>
                <div class="tabs-content">
                  <div id="tab-2-1" class="content active">
                    <p>Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера</p>
                    <dl>
                      <dt>Сервис:</dt>
                      <dd>Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа</dd>
                    </dl>
                    <dl>
                      <dt>Интернет:</dt>
                      <dd>Wi-Fi предоставляется в номерах отеля за дополнительную плату.<br/></dd>
                    </dl>
                    <dl>
                      <dt>Услуги по парковке машин:</dt>
                      <dd>Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.</dd>
                    </dl>
                  </div>
                  <div id="tab-2-2" class="content">
                    <div class="flex"><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/></div>
                  </div>
                  <div id="tab-2-3" class="content"></div>
                  <div id="tab-2-4" class="content"></div>
                  <div id="tab-2-5" class="content"></div>
                  <div id="tab-2-6" class="content"></div>
                  <div id="tab-2-7" class="content"></div>
                </div>
              </div>
            </li>
            <li class="accordion-navigation accordion-navigation-inner"><a href="#hotel-7" role="tab" aria-controls="hotel-7">Academie 4*</a><span>(Брюгге)</span>
              <div id="hotel-7" role="tabpanel" class="content content-inner">
                <div class="hotel-info">
                  <div class="img-wrap"><img src="img/hotel-1.jpg"/></div>
                  <div class="info-wrap">
                    <p>Lindner Hotel City Plaza 4*<br/>Magnusstr. 20,50672 Кельн</p>
                    <p>Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.</p>
                  </div>
                </div>
                <ul data-tab="data-tab" class="tabs">
                  <li class="tab-title active"><a href="#tab-7-1">ОПИСАНИЕ</a></li>
                  <li class="tab-title"><a href="#tab-7-2">Фотогалерея</a></li>
                  <li class="tab-title"><a href="#tab-7-3">Номера</a></li>
                  <li class="tab-title"><a href="#tab-7-4">Услуги</a></li>
                  <li class="tab-title"><a href="#tab-7-5">Питание</a></li>
                  <li class="tab-title"><a href="#tab-7-6">Отдых и развлечения</a></li>
                  <li class="tab-title"><a href="#tab-7-7">Карта</a></li>
                </ul>
                <div class="tabs-content">
                  <div id="tab-7-1" class="content active">
                    <p>Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера</p>
                    <dl>
                      <dt>Сервис:</dt>
                      <dd>Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа</dd>
                    </dl>
                    <dl>
                      <dt>Интернет:</dt>
                      <dd>Wi-Fi предоставляется в номерах отеля за дополнительную плату.<br/></dd>
                    </dl>
                    <dl>
                      <dt>Услуги по парковке машин:</dt>
                      <dd>Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.</dd>
                    </dl>
                  </div>
                  <div id="tab-7-2" class="content">
                    <div class="flex"><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/></div>
                  </div>
                  <div id="tab-7-3" class="content"></div>
                  <div id="tab-7-4" class="content"></div>
                  <div id="tab-7-5" class="content"></div>
                  <div id="tab-7-6" class="content"></div>
                  <div id="tab-7-7" class="content"></div>
                </div>
              </div>
            </li>
            <li class="accordion-navigation accordion-navigation-inner"><a href="#hotel-8" role="tab" aria-controls="hotel-8">Hilton Brussels City 4*</a><span>(Брюссель)</span>
              <div id="hotel-8" role="tabpanel" class="content content-inner">
                <div class="hotel-info">
                  <div class="img-wrap"><img src="img/hotel-1.jpg"/></div>
                  <div class="info-wrap">
                    <p>Lindner Hotel City Plaza 4*<br/>Magnusstr. 20,50672 Кельн</p>
                    <p>Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.</p>
                  </div>
                </div>
                <ul data-tab="data-tab" class="tabs">
                  <li class="tab-title active"><a href="#tab-8-1">ОПИСАНИЕ</a></li>
                  <li class="tab-title"><a href="#tab-8-2">Фотогалерея</a></li>
                  <li class="tab-title"><a href="#tab-8-3">Номера</a></li>
                  <li class="tab-title"><a href="#tab-8-4">Услуги</a></li>
                  <li class="tab-title"><a href="#tab-8-5">Питание</a></li>
                  <li class="tab-title"><a href="#tab-8-6">Отдых и развлечения</a></li>
                  <li class="tab-title"><a href="#tab-8-7">Карта</a></li>
                </ul>
                <div class="tabs-content">
                  <div id="tab-8-1" class="content active">
                    <p>Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера</p>
                    <dl>
                      <dt>Сервис:</dt>
                      <dd>Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа</dd>
                    </dl>
                    <dl>
                      <dt>Интернет:</dt>
                      <dd>Wi-Fi предоставляется в номерах отеля за дополнительную плату.<br/></dd>
                    </dl>
                    <dl>
                      <dt>Услуги по парковке машин:</dt>
                      <dd>Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.</dd>
                    </dl>
                  </div>
                  <div id="tab-8-2" class="content">
                    <div class="flex"><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/><img src="img/hotel-1.jpg"/></div>
                  </div>
                  <div id="tab-8-3" class="content"></div>
                  <div id="tab-8-4" class="content"></div>
                  <div id="tab-8-5" class="content"></div>
                  <div id="tab-8-6" class="content"></div>
                  <div id="tab-8-7" class="content"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
