assets/blocks/welcome/_welcome-index.jade
.welcome-index
	.wrap
		.row
			.welcome-text
				div.logo-text
					| Представительство европейского туроператора ADEX International в РФ. Реестровый номер МТ3 013021
				.text-center
					span.heading-main.text-left
						span.first-line ЛУЧШИЕ ТУРЫ 
						br
						span.second-line ПО ДОСТУПНЫМ ЦЕНАМ
	.search-box
		form
			.search-inner
				.input-wrap
					select
						option Выбор страны
				.input-range-group
					.input-wrap
						input.date-in(name="date-in" id="date-in" placeholder="Дата заезда")
					.input-wrap
						input.date-out(name="date-out" id="date-out" placeholder="Дата выезда")
				.input-wrap
					select
						option Город вылета
			a.search-btn
				img(src="img/search.png")

public/blocks/welcome/_welcome-index.html

<div class="welcome-index">
  <div class="wrap">
    <div class="row">
      <div class="welcome-text">
        <div class="logo-text">Представительство европейского туроператора ADEX International в РФ. Реестровый номер МТ3 013021</div>
        <div class="text-center"><span class="heading-main text-left"><span class="first-line">ЛУЧШИЕ ТУРЫ </span><br/><span class="second-line">ПО ДОСТУПНЫМ ЦЕНАМ</span></span></div>
      </div>
    </div>
  </div>
  <div class="search-box">
    <form>
      <div class="search-inner">
        <div class="input-wrap">
          <select>
            <option>Выбор страны</option>
          </select>
        </div>
        <div class="input-range-group">
          <div class="input-wrap">
            <input name="date-in" id="date-in" placeholder="Дата заезда" class="date-in"/>
          </div>
          <div class="input-wrap">
            <input name="date-out" id="date-out" placeholder="Дата выезда" class="date-out"/>
          </div>
        </div>
        <div class="input-wrap">
          <select>
            <option>Город вылета</option>
          </select>
        </div>
      </div><a class="search-btn"><img src="img/search.png"/></a>
    </form>
  </div>
</div>
