assets/blocks/nav/_nav.jade
.nav.clearfix
	.nav-wrap
		.wrap
			.row
				nav.top-bar(data-topbar role="navigation")
					ul.title-area
						li
							a(href="#"): img.logo(src="img/logo.png")
						li.toggle-topbar.menu-icon
							a(href="#"): span
					section.top-bar-section
						ul.left.inline-list
							li: a(href="#") Групповые туры
							li: a(href="#") Отели
							li: a(href="#") Экскурсии
							li: a(href="#") Трансферы
							li: a(href="#") Деловой туризм
							li: a(href="#") Авторские туры
							li: a(href="#") Визы
							li: a(href="#") Для турагенств
							li: a(href="#") Контакты
						ul.right.phones
							li: img(src="img/phone.png")
							li
								div +7 (495) 785-96-06
								div +7 (495) 790-40-65
								div +7 (495) 223-12-68

public/blocks/nav/_nav.html

<div class="nav clearfix">
  <div class="nav-wrap">
    <div class="wrap">
      <div class="row">
        <nav data-topbar="data-topbar" role="navigation" class="top-bar">
          <ul class="title-area">
            <li><a href="#"><img src="img/logo.png" class="logo"/></a></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
          </ul>
          <section class="top-bar-section">
            <ul class="left inline-list">
              <li><a href="#">Групповые туры</a></li>
              <li><a href="#">Отели</a></li>
              <li><a href="#">Экскурсии</a></li>
              <li><a href="#">Трансферы</a></li>
              <li><a href="#">Деловой туризм</a></li>
              <li><a href="#">Авторские туры</a></li>
              <li><a href="#">Визы</a></li>
              <li><a href="#">Для турагенств</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
            <ul class="right phones">
              <li><img src="img/phone.png"/></li>
              <li>
                <div>+7 (495) 785-96-06</div>
                <div>+7 (495) 790-40-65</div>
                <div>+7 (495) 223-12-68</div>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </div>
</div>
