assets/blocks/nav/_nav-bottom-articles.jade
.nav-bottom
	.container
		ul.inline-list
			li: a(href="#") Визы
			li: a(href="#") Деловой туризм
			li: a(href="#") Групповые туры
			li: a(href="#") Авторские туры
			li: a(href="#") Авиабилеты online

public/blocks/nav/_nav-bottom-articles.html

<div class="nav-bottom">
  <div class="container">
    <ul class="inline-list">
      <li><a href="#">Визы</a></li>
      <li><a href="#">Деловой туризм</a></li>
      <li><a href="#">Групповые туры</a></li>
      <li><a href="#">Авторские туры</a></li>
      <li><a href="#">Авиабилеты online</a></li>
    </ul>
  </div>
</div>
