assets/blocks/nav/_nav-bottom.jade
.nav-bottom
	.container
		ul.inline-list
			li: a(data-scroll href="#tour-program") Программа тура
			li: a(data-scroll href="#tour-prices") Цена
			li: a(data-scroll href="#tour-hotels") Гостиницы
			li: a(data-scroll href="#map") Карта
			li: a(data-scroll href="#tour-gallery") Фотогалерея

public/blocks/nav/_nav-bottom.html

<div class="nav-bottom">
  <div class="container">
    <ul class="inline-list">
      <li><a data-scroll="data-scroll" href="#tour-program">Программа тура</a></li>
      <li><a data-scroll="data-scroll" href="#tour-prices">Цена</a></li>
      <li><a data-scroll="data-scroll" href="#tour-hotels">Гостиницы</a></li>
      <li><a data-scroll="data-scroll" href="#map">Карта</a></li>
      <li><a data-scroll="data-scroll" href="#tour-gallery">Фотогалерея</a></li>
    </ul>
  </div>
</div>
