public/includes/index/_tour-concrete.html

<div class="wrap">
  <div class="row">
    <div class="tour-concrete">
      <div class="heading-wrap text-center">
        <div class="heading-line">
          <hr/>
        </div>
        <div class="heading-title">
          <h4>НИДЕРЛАНДЫ</h4>
        </div>
      </div>
      <div class="owl-carousel">
        <div class="card clearfix card__mix"><a href="#" class="card-link"><img src="img/amsterdam-summer.jpg" class="card-image"/>
            <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">СКАЗОЧНЫЙ АМСТЕРДАМ</span>
              <div class="prices right">
                <div class="price-old"></div>
                <div class="price-new">56 220 руб.</div>
              </div>
            </div></a></div>
        <div class="card clearfix card__mix"><a href="#" class="card-link"><img src="img/amsterdam-summer.jpg" class="card-image"/>
            <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">СКАЗОЧНЫЙ АМСТЕРДАМ</span>
              <div class="prices right">
                <div class="price-old"></div>
                <div class="price-new">56 220 руб.</div>
              </div>
            </div></a></div>
        <div class="card clearfix card__mix"><a href="#" class="card-link"><img src="img/amsterdam-summer.jpg" class="card-image"/>
            <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">СКАЗОЧНЫЙ АМСТЕРДАМ</span>
              <div class="prices right">
                <div class="price-old"></div>
                <div class="price-new">56 220 руб.</div>
              </div>
            </div></a></div>
        <div class="card clearfix card__mix"><a href="#" class="card-link"><img src="img/amsterdam-summer.jpg" class="card-image"/>
            <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">СКАЗОЧНЫЙ АМСТЕРДАМ</span>
              <div class="prices right">
                <div class="price-old"></div>
                <div class="price-new">56 220 руб.</div>
              </div>
            </div></a></div>
        <div class="card clearfix card__mix"><a href="#" class="card-link"><img src="img/amsterdam-summer.jpg" class="card-image"/>
            <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">СКАЗОЧНЫЙ АМСТЕРДАМ</span>
              <div class="prices right">
                <div class="price-old"></div>
                <div class="price-new">56 220 руб.</div>
              </div>
            </div></a></div>
        <div class="card clearfix card__mix"><a href="#" class="card-link"><img src="img/amsterdam-summer.jpg" class="card-image"/>
            <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">СКАЗОЧНЫЙ АМСТЕРДАМ</span>
              <div class="prices right">
                <div class="price-old"></div>
                <div class="price-new">56 220 руб.</div>
              </div>
            </div></a></div>
        <div class="card clearfix card__mix"><a href="#" class="card-link"><img src="img/amsterdam-summer.jpg" class="card-image"/>
            <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">СКАЗОЧНЫЙ АМСТЕРДАМ</span>
              <div class="prices right">
                <div class="price-old"></div>
                <div class="price-new">56 220 руб.</div>
              </div>
            </div></a></div>
      </div>
    </div>
  </div>
</div>

assets/includes/index/_tour-concrete.jade
include ../../blocks/heading/_heading.jade
include ../../blocks/card/_card.jade
.wrap
	.row
		.tour-concrete
			+heading("НИДЕРЛАНДЫ")
			.owl-carousel
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
