assets/includes/index/_tours-mix.jade
include ../../blocks/heading/_heading.jade
include ../../blocks/card/_card.jade
.wrap
	.row
		.tours-mix
			+heading("КОМБИНИРОВАННЫЕ ТУРЫ")
			.owl-carousel
				//- .slide
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				//- .slide
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				//- .slide
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				//- .slide
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				//- .slide
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				//- .slide
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				//- .slide
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")

public/includes/_tours-mix.html

<div class="wrap">
  <div class="row">
    <div class="tours-mix">
      <div class="heading-wrap text-center">
        <div class="heading-line">
          <hr/>
        </div>
        <div class="heading-title">
          <h4>КОМБИНИРОВАННЫЕ ТУРЫ</h4>
        </div>
      </div>
      <div class="owl-carousel">
        <div class="card clearfix card__mix"><a href="#" class="card-link"><img src="img/amsterdam-summer.jpg" class="card-image"/>
            <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">СКАЗОЧНЫЙ АМСТЕРДАМ</span>
              <div class="prices right">
                <div class="price-old"></div>
                <div class="price-new">56 220 руб.</div>
              </div>
            </div></a></div>
        <div class="card clearfix card__mix"><a href="#" class="card-link"><img src="img/amsterdam-summer.jpg" class="card-image"/>
            <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">СКАЗОЧНЫЙ АМСТЕРДАМ</span>
              <div class="prices right">
                <div class="price-old"></div>
                <div class="price-new">56 220 руб.</div>
              </div>
            </div></a></div>
        <div class="card clearfix card__mix"><a href="#" class="card-link"><img src="img/amsterdam-summer.jpg" class="card-image"/>
            <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">СКАЗОЧНЫЙ АМСТЕРДАМ</span>
              <div class="prices right">
                <div class="price-old"></div>
                <div class="price-new">56 220 руб.</div>
              </div>
            </div></a></div>
        <div class="card clearfix card__mix"><a href="#" class="card-link"><img src="img/amsterdam-summer.jpg" class="card-image"/>
            <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">СКАЗОЧНЫЙ АМСТЕРДАМ</span>
              <div class="prices right">
                <div class="price-old"></div>
                <div class="price-new">56 220 руб.</div>
              </div>
            </div></a></div>
        <div class="card clearfix card__mix"><a href="#" class="card-link"><img src="img/amsterdam-summer.jpg" class="card-image"/>
            <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">СКАЗОЧНЫЙ АМСТЕРДАМ</span>
              <div class="prices right">
                <div class="price-old"></div>
                <div class="price-new">56 220 руб.</div>
              </div>
            </div></a></div>
        <div class="card clearfix card__mix"><a href="#" class="card-link"><img src="img/amsterdam-summer.jpg" class="card-image"/>
            <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">СКАЗОЧНЫЙ АМСТЕРДАМ</span>
              <div class="prices right">
                <div class="price-old"></div>
                <div class="price-new">56 220 руб.</div>
              </div>
            </div></a></div>
        <div class="card clearfix card__mix"><a href="#" class="card-link"><img src="img/amsterdam-summer.jpg" class="card-image"/>
            <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">СКАЗОЧНЫЙ АМСТЕРДАМ</span>
              <div class="prices right">
                <div class="price-old"></div>
                <div class="price-new">56 220 руб.</div>
              </div>
            </div></a></div>
      </div>
    </div>
  </div>
</div>
